.AnquetteCard {
}
.AnquetteCard_UserName {
    border-bottom: 2px solid lightgray;
}
.AnquetteCard_header {
    margin: 20px 0px;
    border-bottom: 2px solid lightgray;
}
.AnquetteCard_List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y:scroll;
    max-height: 61vh;
}
.AnquetteCard_card {
    width: 20rem;
    margin: 10px 10px;
}

.Anquette_link {
    text-decoration: none;
    color: black;
}
