.App{
    min-height: 100vh;
    background-image: url('./beautiful-shot-top-mountain.webp');
    background-size:cover;
    background-repeat: no-repeat;
}
.footer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.footer > div { 
    margin:10px;
}
.footer > a { 
    margin: 10px;
}
