.App{
    min-height: 100vh;
    background-image: url('./beautiful-shot-top-mountain.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.footer{
    padding: 50px;
    
}
.footer > div { 
    width: 20%;
    display :inline-block;
}
.footer > a { 
    margin: 10px;
}
